.userPlaylist {
    width: 33%;
    padding: 2.27rem 1.16rem;
    background-color: rgba(1, 12, 63, 0.7);
    box-shadow: 0 4px 2px 2px #000000;
    min-height: 960px;
}

@media only screen and (max-width: 1020px) {
    .userPlaylist {
        width: 90%;

    }
}